<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Questões</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <ol>
    <li><a href="questao1.html">Questão 01</a></li>
    <li><a href="questao2.html">Questão 02</a></li>
    <li><a href="questao3.html">Questão 03</a></li>
    <li><a href="questao4.html">Questão 04</a></li>
    <li><a href="questao5.html">Questão 05</a></li>
  </ol>

</body>

</html>
