<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  
  <h1>Que forma geométrica você gostaria de conhecer?</h1>
  <img id="img" src="interrogacao.png" alt=""> <br>
  <input id="forma" type="text">
  <button onclick="conhecer()">conhecer</button>
  
  <script src="{{url_for('static',filename='js/questao4.js')}}"></script>
</body>

</html>