<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div>
    Número 3: <input id="n1" type="text"><br>
    Número 2: <input id="n2" type="text"><br>
    <h3>Operação</h3><br>
    
    <select id="opr" onchange="calcular()">
      <option value="soma">Soma</option>
      <option value="subt">Subtração</option>
      <option value="mult">Multiplicação</option>
      <option value="div">Divisão</option>
    </select>
    
    <h3>Resultado</h3><br>
    <p id="result"></p>
  </div>
  
  <script src="{{url_for('static',filename='js/questao3.js')}}"></script>
</body>

</html>
